<!-- This block of code will use the code used on base.html as a component or inheritance -->
{% extends 'global/base.html' %}

<!-- This code block will exchange text value -->
{% block text %} BLOG INDEX: {{ text }} {% endblock text %}

<!-- implement block posts created in base.html -->
{% block posts %}
    <!-- posts is the variable that came from context, that is in blog/views.py -->
    {% for post in posts %}
        <!-- Include postblock.html from partials -->
        <!-- now that we are using post, inside postblock will be possible to access post -->
        {% include 'global/partials/postblock.html' %}
    {% endfor %}
{% endblock posts %}